.idea/
.venv/
__pycache__/
*.py[cod]

frontend/node_modules/
frontend/.npm-cache/
frontend/dist/
node_modules/
.npm-cache/
.electron-cache/

backend/build/
backend/dist/
backend/*.spec
release/

*.db
*.db-journal
*.sqlite
*.sqlite3
*.log
